{% extends 'base.html.twig' %}

{% block title %}Sites index{% endblock %}

{% block body %}
    <h1>Sites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Creation_date</th>
                <th>Active</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.description }}</td>
                <td>{{ site.creationDate ? site.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ site.active ? 'Yes' : 'No' }}</td>
                <td>{{ site.name }}</td>
                <td>
                    <a href="{{ path('sites_show', {'id': site.id}) }}">show</a>
                    <a href="{{ path('sites_edit', {'id': site.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sites_new') }}">Create new</a>
{% endblock %}
