{% extends 'base.html.twig' %}

{% block title %}CheckPoint index{% endblock %}

{% block body %}
    <h1>CheckPoint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AssetId</th>
                <th>LocationInformation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for check_point in check_points %}
            <tr>
                <td>{{ check_point.id }}</td>
                <td>{{ check_point.name }}</td>
                <td>{{ check_point.assetId }}</td>
                <td>{{ check_point.locationInformation }}</td>
                <td>
                    <a href="{{ path('check_point_show', {'id': check_point.id}) }}">show</a>
                    <a href="{{ path('check_point_edit', {'id': check_point.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('check_point_new') }}">Create new</a>
{% endblock %}
